SERVER_PORT=8080
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
SESSION_TIMEOUT=15m
SESSION_COOKIE_SECURE=false
APP_USERNAME=user
APP_PASSWORD=P@ssw0rd
APP_SECONDARY_USERNAME=admin
APP_SECONDARY_PASSWORD=P@ssw0rd
